
%li

  %a.btn.btn-twitter{:href => "http://twitter.com/home?status=SHAREMESSAGE", :target => "_blank", :title => "find this job #{job.description} @ www.musala.herokuapp/job/#{job.id}"}
    %i.fa.fa-twitter
      Twitter
%li 
  %a.btn.btn-facebook{:href => "https://www.facebook.com/sharer/sharer.php?u=SHAREMESSAGE", :target => "_blank", :title => "Share on Facebook"}
    %i.fa.fa-facebook
      facebook