.dropdown
  %a.btn.btn-primary#dLabel{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
    Share
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "dLabel"}
    = render "job/sharing_button"