#collapseExample.collapse
  .well

    %a.btn.btn-twitter{:href => "http://twitter.com/home?status=SHAREMESSAGE", :target => "_blank", :title => "Share on Twitter"}
      %i.fa.fa-twitter
        Twitter

    %a.btn.btn-facebook{:href => "https://www.facebook.com/sharer/sharer.php?u=SHAREMESSAGE", :target => "_blank", :title => "Share on Facebook"}
      %i.fa.fa-facebook
        facebooks