%header.jumbotron.hero-spacer
  %h1 A Warm Welcome!
  %p Established in 2016, Musala.cd is one of Democratic Republic  leading career portals. Find your next job on www.musala.cd

  %p
    = link_to 'Sign in', new_user_session_path , class: "btn btn-primary btn-large"
    = link_to 'Sign up', new_user_registration_path,class: "btn btn-default btn-large"
